body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: "Eater", serif;
    overflow-x: hidden;
}

header {
    background-color: black;
    color: #fff;
    text-align: center;
    width: 100vw;
}

input {
    width: 200px;
    height: 25px;
    border: solid black 2px;
    border-radius: 4px;
    font-family: "Eater", serif;
    background-color: black;
    color: white;
}

button {
    padding: 0.5em 1em;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-family: "Eater", serif;

}

button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 4px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:220px;
    gap: 5px;
    
}

.letters {
    font-size: 35px; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Deixa as letras em negrito */
    color: rgb(168, 9, 9);
    letter-spacing: 5px; /* Aumenta o espaçamento entre as letras */
    display: block; /* Faz as letras aparecerem abaixo do nome */
    margin-top: -28px;
    font-family: "Eater", serif;
}


.player-name{
    font-family: "Eater", serif;
    font-size: 30px;
}

h1{
    font-family: "Eater", serif;
    font-size: 40px;
}

.delete-btn{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    font-family: "Eater", serif;
}

.letter-btn{
    font-family: "Eater", serif;
    background-color: black;
    border-radius: 4px;
    
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:  5px;
}